@import '../node_modules/antd/dist/antd.less';
@primary-color: #5b83ad;
.pagination-container {
  color: #4179f7;
  text-align: center;
  visibility: hidden;
  &.visible {
    visibility: visible;
  }
  & > * {
    display: inline-block;
    vertical-align: middle;
    &.control {
      padding: 8px;
      cursor: pointer;
    }
    &.pages-wrapper > .page-item {
      display: inline-block;
      vertical-align: middle;
      padding: 8px 4px;
      cursor: pointer;
      &.current {
        color: #000;
        pointer-events: none;
      }
    }
  }
}
